<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.waglewagle.goods.mapper.GoodsMapper">
	<select id="allCategory" resultType="kr.co.waglewagle.domain.CategoryVO">
		SELECT 
			category_id, category_upper_id, category_name 
		FROM category 
		ORDER BY category_id ASC
	</select>
</mapper>