#viewpage{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:614px;
}
#main-box {
    width: 85%;
    height: 100%;
    /* border: 1px solid #999; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.noticeView{
	text-align: center;
}
#title{
    width: 500px;
    height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    background: #F1F1F1;
    border: 1px solid #000000;
    border-radius: 10px;
    border-width:0px;
}
#noticetitle{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-width:0px;
}
#title{
    width: 500px;
    height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    background: #F1F1F1;
    border: 1px solid #000000;
    border-radius: 10px;
    border-width:0px;
}
#noticetitle{
    width: 500px;
    height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    background: #F1F1F1;
    border: 1px solid #000000;
    border-radius: 10px;
    border-width:0px;
}
#noticetitle{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-width:0px;
}
#titletxt{
    margin: auto;
    margin-right: 5px;
}
#datetxt{
    margin: auto;
    margin-right: 5px;
}
#noticecontent{
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    padding-left: 10px;
    padding-top: 10px;
    background: #F1F1F1;
    border: 1px solid #000000;
    border-radius: 20px;
    border-width:0px;
}
#noticecontent{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    text-align:left;
    border-width:0px;
} 
.nview{
	display:flex;
}

#contenttxt{
    margin-right: 5px;
}
#writebtn{
    width: 150px;
    height: 35px;
    background: #CF5C5C;
    border-radius: 10px;
    color: azure;
    font-size: 14px;
    font-stretch: 100;
    border-width:0px;
    margin-top:10px;
}
.rightloc{
	display:flex;
	justify-content: flex-end;
}
.f{
	margin:10px 5px 0 0;
	font-weight: 600;
	font-size:20px;
}