* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
	height : 100%;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position : fixed;
	overflow : hidden;
}


#logo {
    background-image: url('../../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 80px;
    margin: 25px 0;
}

#content {
    height: 45%;
    width: 50%;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#auction_img {
    height: 65%;
    width: 80%;
    background-color: white;
}

#auction_goods {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 25%;
    width: 85%;
    padding-top: 10px;
}

#auction_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
}

#title {
    font-size: 12px;
    font-weight: 600;
}

#goods_title {
	font-size: small;
    font-weight: 500;
}

#auction_price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
}

#price {
    font-size: 12px;
    font-weight: 600;
}

#goods_price {
	font-size: small;
    font-weight: 500;
}

#auction_comment {
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 40%;
    font-size: medium;
    text-align: center;
    line-height: 40px;
}

#btns {
    height: 20%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

#auc_com {
    width: 100%;
    height: 60px;
    background: #CF5C5C;
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#auc_com_space {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

#report {
    width: 100%;
    height: 60px;
    background: rgba(108, 104, 104, 0.8);
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#report_space {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}


#com_img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

#report_img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

#auc_com_btn {
    color: white;
    margin: 0 10px;
    font-weight: 500;
    font-size: large;
}

#auc_report_btn {
    color: white;
    margin: 0 10px;
    font-weight: 500;
    font-size: large;
}