* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html, body {
    width: 100%;
	height : 100%;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position : fixed;
	overflow : hidden;
}


#logo {
    background-image: url('../../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 80px;
    margin: 25px 0;
}

#content {
    height: 45%;
    width: 50%;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#report_reasons {
    height: 12%;
    width: 80%;
    background-color: white;
}


/*************** toggle ***************/
:root {
    --btn-width : 30vw;
    --btn-min-width : 10px;
    --btn-height : 5vh;
    --btn-min-height : 5px;
    --menu-height : calc(var(--btn-height) * 4);
    --menu-min-height : calc(var(--btn-min-height) * 2);
    --border-rad : 5px;
    --font-size : 2vw;
}

#report_reasons {
    position: relative;
    display: flex;
    flex-flow: column;
}
#toggle-label {
    background-color: white;
    border-radius: var(--border-rad);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 15px;
}

#toggle_img {
    width: 20px;
    height: 20px;
}

#menu {
    width: 100%;
    min-width: 50%;
    height: 0;
    background-color: whitesmoke;
    border-radius: var(--border-rad);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: absolute;
    top: 105%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
#toggle:checked ~ #menu{
    height: var(--menu-height);
    min-height: var(--menu-min-height);
    opacity: 1;
}
#toggle:clicked ~ #li{
    height: 0;
    min-height: 0;
    opacity: 0;
}

#after_select_1 {
	display: none;
	color: black;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    text-align: center;
}
#after_select_2 {
	display: none;
	color: black;
    font-weight: 600;
    font-size: 13px;
    width: 100%;
    text-align: center;
}
#after_select_3 {
	display: none;
	color: black;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    text-align: center;
}


.menu-item {
    font-size: 13px;
    font-weight: 500;
    height: 30%;
    width: 100%;
    text-align: center;
    line-height: 50px;
}

.menu-item:hover {
    color: red;
}


.menu-name {
    width: var(--btn-width);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: var(--font-size);
    font-weight: 900;
    line-height: 20px;
}
/*************** /toggle ***************/


#report_detail {
    height: 65%;
    width: 80%;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 17px;
    line-height: 2.1;
}

#report_detail::placeholder {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
    font-weight: 400;
}


#btns {
    height: 20%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

#report_com {
    width: 100%;
    height: 60px;
    background: #CF5C5C;
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#report_com_space {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}

#back {
    width: 100%;
    height: 60px;
    background: rgba(108, 104, 104, 0.8);
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#back_space {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}


#com_img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

#back_img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

#report_com_btn {
    color: white;
    margin: 0 10px;
    font-weight: 500;
    font-size: large;
    margin-left: 55px;
}

#back_btn {
    color: white;
    margin: 0 10px;
    font-weight: 500;
    font-size: large;
    margin-left: 55px;
}