#wrap {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;

  flex-direction: column;
  justify-content: space-evenly;
  padding-left:8%;
  padding-right:8%;
}

#top {
  margin: 3%;
  min-height: 400px;

  display: flex;
  flex-direction: row;
}

#topbox1 {
  width: 45%;
  height: 400px;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#imagebox {
  height: 350px;
  border-radius: 10px;
  position: relative;
}

.direc {
  width: 5%;
  height: 10%;
}

#left {
  position: absolute;
  top: 45%;
  left: 2%;
}

#right {
  position: absolute;
  top: 45%;
  left: 93%;
}

.imgs {
	/*
  width: 420px;
  height: 350px;
  */
  border-radius: 5px;
}

#likebox {
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  position: relative;
}

#likeImage {
  width: 30px;
  height: 30px;
  top: 10%;
  left: 5%;
  position: absolute;
}

#jjim {
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 0%;
  left: 45%;
}

#topbox2 {
  width: 55%;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.topbox2c {
  height: 25%;
  border: 1px solid black;
}

#title {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 15%;
}

#titleFont {
  margin-top: 1%;
  margin-left: 1%;
  width: 80%;
  font-size: 18px;
  font-weight: bold;
  white-space: normal;
  word-wrap: break-word;
  overflow: auto;
}

#sirenimg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6%;
  right: 5%;
}

#sirenfont {
  font-size: 10px;
  color: #838383;
  position: absolute;
  top: 14%;
  right: 10%;
}

#seller {
  height: 15%;
  display: flex;
  flex-direction: column;
}

#sellerBox {
  border: 1px solid black;
  height: 50%;
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

#sellerfont {
  margin-top: 1%;
  margin-left: 1%;
}

#sellerNic {
  margin: 20px;
}

#disBox {
  margin-top: 0.3%;

  width: 35%;
  background-color: #ed5565;
  border-radius: 5px;
  color: white;
  font-weight: lighter;
  font-size: small;
  text-align: center;
  line-height: 25px;
}

#dis {
  display: inline-block;
  padding-left: 3%;
  padding-right: 3%;
  font-size: medium;
  font-weight: bold;
}

#addrBox {
  font-size: 15px;
  display: flex;
}

#addrfont {
  width: 31%;
  margin-top: 1%;
  margin-left: 1%;
  padding-bottom: 1%;
}

#addrBox > span {
  font-size: 10px;
  line-height: 30px;
  margin-left:2px
  color: #838383;
}

#dong {
  margin-left: 4%;
}

#contentbox {
  color: #838383;
  height: 45%;
  border-radius: 5px;
  font-size: 10px;
  padding: 1%;
}

#content {
  color: black;
  padding: 1%;
  font-weight: bold;
  font-size: 12px;
}

#priceAndTimeFont {
  margin-top: 1%;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

#priceAndTimeFont > span {
  color: #838383;
  margin-right: 3%;
  font-size: 10px;
}

#priceAndTime {
  height: auto;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: space-evenly;
}

#priceVal {
  width: 50%;
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 25px;
  padding-left: 4%;
}

#timeVal {
  width: 50%;
  text-align: center;
  display: block;
  color: #db0000;
  font-weight: bold;
  font-size: 25px;
  padding-right: 10%;
}

#topbox2footer {
  height: auto;

  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#topbox2footer > div {
  width: 50%;
  display: flex;
  flex-direction: row;
}

#topbox2footer > div > img {
  display: block;
  width: 18px;
  height: 18px;
  margin-left: 2px;
  margin-right: 2px;
}

#person {
  padding-left: 12%;
}

#jjimp {
  padding-left: 5%;
}

#jjimp > .footerFont {
  padding-right: 5px;
  text-align: left;
}

#mid {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  min-height: 150px;
  border: 1px solid black;
}

#bottom {
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  min-height: 80px;
  border: 1px solid black;
}

/* 슬라이드*/
 #imagewrap {
      height: 100%;
      position: relative;
      overflow: hidden;
    }

    #slideList {
      position: absolute;
      left: 0;
      top: 0;

    }

    #slideList>.imgs {

      float: left;

    }

    #slideList.active {
      transition: 0.3s ease-out;
    }

    .direc {
      position: absolute;
      z-index: 1;
    }
    
    /*mid 추가!*/
    #mid {
  border-radius: 5px;
  border: 2px solid #ffd36e;
}

#midTextBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 10px;
}
.midText {
  width: auto;
  font-size: 10px;
  color: #adadad;
}
#myPoints {
  width: 40%;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}
#myPointBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#coinImg {
  width: 70px;
  height: 70px;
}
#myPoint {
  padding-top: 1%;
  text-align: center;
  line-height: 50px;
  font-weight: bolder;

  font-size: 40px;
  margin-left: 5%;
  margin-right: 6%;
}
.myPointBoxChild {
  margin-top: 1%;
  padding-top: 0.5%;
}
#fillText {
  margin-top: 2.5%;
  line-height: 40px;
  width: 133px;
  height: 40px;
  border: 1px solid #db0000;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: #ffd36e;
  border-style: none;
  margin-left: 2%;
}
#fillText > span {
  color: white;
  font-weight: bold;
  font-size: 18px;
}
#imgWrap {
  margin-left: 4%;
  margin-bottom: 10px;
}

#submitPoint {
  width: 380px;
  height: 50px;
  border: 1px solid black;
  margin-right: 6%;
  margin-top: 2%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
#submitPoint > input {
  padding-top: 0.8%;
  border: none;
  font-size: 18px;
  height: 100%;
  padding-bottom: 1.5%;
  margin-left: 5%;
  font-weight: bold;
}
#submitButton {
  line-height: 30px;
  margin-right: 5%;
  height: 30px;
  width: 90px;
  margin-top: 1%;
  text-align: center;
  border-radius: 10px;
  background-color: #ff4356;
  color: #fffefe;
  font-weight: normal;
  font-size: 14px;
}
    
    /*12.15추가*/
#bottom {
  border-radius: 5px;
  border: 2px solid #ffd36e;
}
#bottom > div {
  height: 80%;
  display: flex;
  justify-content: space-between;
  line-height: 70px;
}

#bottom > div > div {
  width: 50%;
}
#bottomFont {
  padding-left: 10%;
  font-size: 15px;
  font-weight: bold;
}
#bidsPriceCheck {
  padding-left: 10%;
  font-size: 30px;
  font-weight: bolder;
}
input:focus {outline:none;}


/* 12- 15  오후 추가 모달 관련 css*/
.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height:720px;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  display: none;
}

.modal-Content {
  border: 1px solid black;
  width: 400px;
  height: 200px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  top: 45%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  text-align: center;
  box-sizing: border-box;
  padding: 80px 0;
  line-height: 23px;

  color: #ed5565;
  z-index: 20;
}
#submitModal {
  display: flex;
  flex-direction: column;
  display: none;
}

#submitModalText + div {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
  line-height: 30px;
  justify-content: space-evenly;
}

.submitFont {
  margin-top: 20px;
  color: black;
  font-weight: bold;
  border-color: 1px;
  display: inline-block;
  height: 30px;
  width: 70px;
  border-radius: 7px;
  cursor: pointer;
}
#submitModalText {
  color: #ed5565;
  font-weight: bold;
}
#submitModal-Content {
  padding: 60px 0;
}
#priceComma {
  color: black;
  font-weight: bolder;
  font-size: 20px;
}
/* 12- 15  오후 추가 모달 관련 css*/
