* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
#header {
    width: 100%;
    height: 10vh;
    min-height: 100px;
}
#headerContainer {
    width: 80%;
    height: 100%;
    min-width: 1280px;
    min-height: 100px;
    margin: 0 auto;
}
#center {
    width: 100%;
    height: 80vh;
    min-height: 470px;
}
#container {
    display: flex;
    width: 80%;
    height: 100%;
    min-width: 1280px;
    margin: 0 auto;
}
#side-box {
	display: flex;
	flex-direction: column;
	background-color: lightgray;
	width: 15%;
	height: 100%;
	text-align: center;
	justify-content: space-between;
}
#side-box div {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #999;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#side-box div.selected {
    background-color: white;
}
#side-box div:hover {
    background-color: white;
}
#side-box div:active {
    background-color: lightblue;
}
#side-box div:last-child {
    font-size: 14px;
    margin-top: auto; 
}
#main-box {
    width: 85%;
    height: 100%;
    text-align: center;
	display: flex;
    flex-direction: column;
}
#plus {
    width: 500px;
    height: 50px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
#searchbtn{
	width: 75px;
	height: 26.64px;
	background: #828080;
	border-radius: 10px;
	color:#ffffff;
	border-width:0px;
}
#sQnas{
	width: 200px;
	height: 19.6px;
	left: 800px;
	top: 209px;
	background: #FFFCFC;
	border-width:0px;
}
#searchForm{
	display:flex;
	flex-direction:row;
	align-items:center;
}
.noticelist .nlist{
    border-collapse:collapse; 
    border-spacing:0; 
    box-sizing:border-box;
    margin: auto;
}
.noticelist .nlist thead{
    border-top:2px solid #221f1f; 
    border-bottom:1px solid #221f1f;
}
.noticelist .nlist thead th{
    padding:15px 20px; 
    font-size:13px; 
    height:20px; 
    line-height:14px; 
    color:#333;
}
.noticelist .nlist td{
    text-align:center; 
    padding:8px 10px; 
    border-bottom:1px solid #d9d9d9;
}
.noticelist .nlist tbody tr:hover{
    background:#f6f6f6;
} /*마우스오버 배경칼라지정*/
.noticelists .nlist .notice{
    background:#f9f9f9; 
} /*탑공지  배경칼라지정*/
.noticelist .nlist .notice_ico{
    display:none;
}
.noticelist .nlist .image img{
    width:80px; 
    height:auto;
}
.noticelist .nlist .title span{
    font-size:15px; 
    font-weight:bold;
}
.noticelist .nlist tr.shadow_down th{
    height:35px;  
    background:#fff; 
    box-shadow:0 2px 3px rgba(0, 0, 0, 0.08); 
    -webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.08); 
    -moz-box-shadow:0 2px 3px rgba(0, 0, 0, 0.08); 
    border-top:1px solid #d4d4d4; 
    border-bottom:1px solid #d4d4d4; 
    border-left:none; 
    border-right:none; 
    font-size:12px;
}
.noticelists .nlist tr.shadow_down th:first-child{
    border-left:1px solid #d4d4d4; 
    box-shadow:0;
}
.noticelist .nlist tr.shadow_down th:last-child{
    border-right:1px solid #d4d4d4; 
    box-shadow:0;
}

.noticelist .nlist thead.bgColor{
    border-top:none; 
    border-bottom:none;
}
.noticelist .nlist thead.bgColor th{
    padding:10px 20px; 
    font-size:13px; 
    height:20px; 
    line-height:14px; 
    color:#fff; 
    background:#404143;
}
.noticelist .nlist td {
    text-align: center;
    padding: 8px 10px;
    font-size: 14px; 
    border-bottom: 1px solid #d9d9d9;
}
#writebtn{
    width: 150px;
    height: 35px;
    background: #686868;
    border-radius: 10px;
    color: azure;
    font-size: 14px;
    font-stretch: 100;
    align-items: center;
    margin-bottom: 10px;
}
#no{
    top:50%;
    background-color:#E6E6E6;
    color: #F80000;
    border:none;
    border-radius:10px;
}
#yes{
    top:50%;
    background-color:#E6E6E6;
    color: #043BFF;
    border:none;
    border-radius:10px;
}
li{
    display: inline-block;
} 
a{
.pg{
	margin:0 10px;
	width: 100px;
}
.paging{
	list-style-type:none;
	align-items:center;
}
	text-decoration:none;
}
#pp{
	margin-top:8px;
}
#pp a{
	font-size:18px;
}