* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
#header {
    width: 100%;
    height: 10vh;
    min-height: 100px;
}
#headerContainer {
    width: 80%;
    height: 100%;
    min-width: 1280px;
    min-height: 100px;
    margin: 0 auto;
}
#center {
    width: 100%;
    height: 80vh;
    min-height: 470px;
}
#container {
    display: flex;
    width: 80%;
    height: 100%;
    min-width: 1280px;
    margin: 0 auto;
}
#side-box {
	display: flex;
	flex-direction: column;
	background-color: lightgray;
	width: 15%;
	height: 100%;
	text-align: center;
	justify-content: space-between;
}
#side-box div {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #999;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#side-box div.selected {
    background-color: white;
}
#side-box div:hover {
    background-color: white;
}
#side-box div:active {
    background-color: lightblue;
}
#side-box div:last-child {
    font-size: 14px;
    margin-top: auto;
}
#main-box {
    width: 85%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.noticeView{
	text-align: center;
}
#noticetitle{
    width: 500px;
    height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    background: #F1F1F1;
    border: 1px solid #000000;
    border-radius: 10px;
    border-width:0px;
}
#noticetitle{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-width:0px;
}
#qnaReply{
	width: 500px;
    height: 100px;
    box-sizing: border-box;
    padding-left: 10px;
    background: #F1F1F1;
    border: 1px solid #000000;
    border-radius: 10px;
    border-width:0px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-width:0px;
}
#titletxt{
    margin: auto;
    margin-right: 5px;
}
#datetxt{
    margin: auto;
    margin-right: 5px;
}
#ct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ct2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#noticecontent{
    box-sizing: border-box;
    width: 500px;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;
    background: #F1F1F1;
    border: 1px solid #000000;
     border-radius: 10px;
    border-width:0px;
}
#noticecontent{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border-width:0px;
} 
#contenttxt{
    margin-right: 5px;
}
#reply{
    box-sizing: border-box;
    width: 500px;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;
    background: #F1F1F1;
    border: 1px solid #000000;
    border-radius: 10px;
    border-width:0px;
}
#modifybtn{
    width: 150px;
    height: 35px;
    background: #686868;
    border-radius: 10px;
    color: azure;
    font-size: 14px;
    font-stretch: 100;
}
#writebtn > a:hover, #writebtn> a:active {
    background-color: #1E90FF;
    text-decoration: none;
}
#writebtn{
    width: 150px;
    height: 35px;
    background: #686868;
    border-radius: 10px;
    color: azure;
    font-size: 14px;
    font-stretch: 100;
    border-width:0px;
}
.rightloc{
	display:flex;
	justify-content: flex-end;
}
.qview{
	display:flex;
}
.qview3{
	display:flex;
	margin-bottom:20px
}
.qview2{
	display:flex;
}