* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
#header {
    width: 100%;
    height: 10vh;
    min-height: 100px;
}
#headerContainer {
    width: 80%;
    height: 100%;
    min-width: 1280px;
    min-height: 100px;
    margin: 0 auto;
}
#center {
    width: 100%;
    height: 80vh;
    min-height: 470px;
}
#container {
    display: flex;
    width: 80%;
    height: 100%;
    min-width: 1280px;
    margin: 0 auto;
}
#side-box {
	display: flex;
	flex-direction: column;
	background-color: lightgray;
	width: 15%;
	height: 100%;
	text-align: center;
	justify-content: space-between;
}
#side-box div {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #999;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#side-box div.selected {
    background-color: white;
}
#side-box div:hover {
    background-color: white;
}
#side-box div:active {
    background-color: lightblue;
}
#side-box div:last-child {
    font-size: 14px;
    margin-top: auto;
}
#main-box {
    width: 85%;
    height: 100%;
    font-size: 20px;
    text-align: center;
}
#stopimg{
    margin: auto;
    margin-top: 300px;
}