<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.waglewagle.users.UsersMapper">
	<select id="userInfo" resultType="kr.co.waglewagle.domain.UsersVO" parameterType="Integer">
		SELECT users_nick, users_rel FROM users WHERE user_id=#{user_id}
	</select>
</mapper>