<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.waglewagle.users.mapper.UsersMapper">
	<select id="userInfo" resultType="kr.co.waglewagle.domain.UsersVO" parameterType="Integer">
		SELECT 
			users_id
			, users_nick 
			, users_name
			, users_gender
			, users_phone
			, users_rel
			, users_image
			, users_addr_list 
		FROM users WHERE users_id=#{users_id}
	</select>
	
	<select id="allCategory" resultType="kr.co.waglewagle.domain.CategoryVO">
		SELECT 
			category_id, category_upper_id, category_name 
		FROM category 
		ORDER BY category_id ASC
	</select>
	
	<!-- 회원 가입 -->	
	<insert id="join" parameterType="kr.co.waglewagle.domain.UsersVO">
		INSERT INTO users(
			users_nick, users_pwd, users_name, users_gender, users_phone, users_email, users_join, users_rel, users_status, users_addr_list
		) VALUES(
			#{users_nick}, MD5(#{users_pwd}), #{users_name}, #{users_gender}, #{users_phone}, #{users_email}, NOW(), 42, 0, #{users_addr_list}
		)
	</insert>
	
	<!-- email 중복 체크 -->
	<select id="isEmailDup" parameterType ="String" resultType="Integer">
		SELECT COUNT(*) FROM users WHERE users_email = #{users_email}
	</select>
	
	<!-- nickname 중복 체크 -->
	<select id="isNickDup" parameterType ="String" resultType="Integer">
		SELECT COUNT(*) FROM users WHERE users_nick = #{users_nick}
	</select>
	
</mapper>